
:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
  }

#logdiv{
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    border-radius: 5%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

#page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

#form{
    align-items: center;
    justify-content: center;
    text-align: center;
}

input{
    padding: 7px;
    margin: 7px;
    border-radius: 8%;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
}

label{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

button{
    font-size: larger;
    padding: 7px;
    border-radius: 15%;
    background-color: 		#FFA500;
    margin: 7px;
    font-family: 'Courier New', Courier, monospace;
}

#imgaut{
    height: 10%;
    width: 10%;
}