<div id="rooms">
<h1>Camere Eveniment</h1>
<div class="aaa">

    <label >Coordonator </label>
    <input #coordonator><br>
    <label >Nume Camera </label>
    <input #nameroom><br>
    <label >Numar locuri </label>
    <input type="number" #number><br>
    <button (click)="finish(coordonator.value,nameroom.value,number.value)">Creare</button>
   
</div>
<div id="count">
    <p>Create</p>
    <h1 id="counvalue">0</h1>
</div>
<button (click)="next()">Inainte</button>
<p>///////////////////////////////////////////////////////</p>
<button (click)="restart()">Restart</button>
</div>
