:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    align-items: center;
  }

  .aaa {
    background-color: #ffffff !important;
    width: 100% !important;
    text-align: center;
}


#rooms{
    width: 70%;
    background-color: black;
    height: 100%;
    align-items: center;
    color: white;
    text-align: center;
}

#count{
  font-size: xx-large;
  color: white;
}