/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}
body {
    margin: 0;
    background: rgb(114, 114, 114);
    min-height: 100%; /* height grows if content grows */
    text-align: center;
}

.aaa {
    background-color: hsl(0, 0%, 100%) !important;
    width: 100% !important;
    text-align: center;
    border-radius: 10%;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 2.0;
    color: black;
}

.event{
    background-color: white;
    font-size: 26px;
    border-radius: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    width: 40%;
}

.room{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 26px;
    border-radius: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    margin-bottom: 5px;
}


.request{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 26px;
    border-radius: 20%;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 50%;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
}

.friend{
    background-color: white;
    font-size: 26px;
    border-radius: 20%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 5px;
    width: 40%;
}

button{
    font-size: larger;
    padding: 7px;
    border-radius: 15%;
    background-color: 	#fca708d1;
    font-size: 20px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

input{
    padding: 7px;
    margin: 7px;
    border-radius: 8%;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;
    font-family: 'Courier New', Courier, monospace;
}

label{
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}


@media only screen and (max-width: 768px) {
    .event{
        background-color: white;
        font-size: 26px;
        border-radius: 20%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        width: 85%;
    }

    .room{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 26px;
        border-radius: 20%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        width: 85%;
        margin-bottom: 5px;
    }

    .request{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-size: 26px;
        border-radius: 20%;
        text-align: center;
        padding-top: 9px;
        padding-bottom: 9px;
        width: 95%;
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 5px;
    }
    
    .friend{
        background-color: white;
        font-size: 26px;
        border-radius: 20%;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 5px;
        width: 85%;
    }
    
}