<div id="navbar">

    <img src="../assets/PozeLitereProfil/B.png" alt="profile" width="70" height="70"  id="profileImage" (click)="profile()">
    <button id="add" (click)="add()">+ADD</button>
    <button id="request" (click)="request()">++Request</button>
    <button id="requests" (click)="requests()">Requests</button>
    <button id="friends" (click)="friends()">Friends</button>
    <button id="events" (click)="events()">Public Events</button>
    <button id="reservations" (click)="reservations()">Reservations</button>
    <button id="profile" (click)="profile()">Profile Page</button>
    <button id="privateEvents" (click)="privateEvents()">Private Events</button>
</div>
