#profileimg{
    border-radius: 50%;
    margin: 5px;
}

button{
    background-color: 	#fca708d1;
    font-size: larger;
    margin-left: 30px;
    margin-bottom: 25px;
    top: 7%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#navbar{
    width: 100%;
    background-color: #ffb758;
    display: inline-block; 
    padding: 10px 20px; 
    text-decoration: none; 
    color: #333; 
}