:host {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
  }

#form{
    width: 40%;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: black;
    border-radius: 5%;
    text-align: center;
    padding: 10px;
}

#page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

#imgaut{
    height: 10%;
    width: 10%;
}

@media only screen and (max-width: 768px) {
    #imgaut{
        height: 15%;
        width: 40%;
    }

    #form{
        width: 90%;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        color: black;
        border-radius: 5%;
        text-align: center;
        padding: 10px;
    }
}