<div id="page">
<div id="create">
        <h1>Creare</h1>
        <label >Nume Eveniment </label>
        <input #name><br>
        <label >Categorie </label>
        <select name="event" id="event" #type>
            <option value="muzical">Muzical</option>
            <option value="sportiv">Sportiv</option>
            <option value="cultural">Cultural</option>
            <option value="academic">Academic</option>
            <option value="altul">Altul</option>
          </select><br>
          <label >Numar Camere </label>
        <input type="number" #number><br>
        <button (click)="creare(name.value,type.value,number.value)">Inainte</button><br>
        <button (click)="back()">Inapoi</button>

</div>
</div>
