<div id="page">
<div id="create">
        <img src="../assets/new.png" alt="error" id="imgaut">
        <h1>Creare</h1>
        <label >Nume Eveniment </label>
        <input #name><br>
        <label >Categorie </label>
        <select name="event" id="event" #type>
            <option value="muzical">Muzical</option>
            <option value="sportiv">Sportiv</option>
            <option value="cultural">Cultural</option>
            <option value="academic">Academic</option>
            <option value="altul">Altul</option>
          </select><br>
          <label >Numar Camere </label>
        <input type="number" #number><br>

        <label >Private </label>
        <select name="private" id="private" #private>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br>
        <label >Fee </label>
        <input type="number" #fee><br>
        <label for="dateInput">Select a date:</label>
        <input type="datetime-local" id="dateInput" name="dateInput" #date><br>
        <button (click)="creare(name.value,type.value,number.value,private.value,date.value,fee.value)">Inainte</button><br>
        <button (click)="back()">Inapoi</button>

</div>
</div>
